body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px auto;
    width: 80%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding-top: 30px;
}

.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*******************  Input ********************/

.inputHolder {
    display: flex;
    justify-content: center;
}

input {
    background-color: #FFFFFF;
    width: 300px;
    border-radius: 30px 0 0 30px;
    padding: 15px;
    outline: none;
}

.btn {
    background-color: #f20791;
    color: #FFFFFF;
    width: 100px;
    padding: 15px;
    border-radius: 0 30px 30px 0;
}

.btn:hover {
    background-color: darkslateblue;
    cursor: pointer;
}

/******************** Error ******************/

.error {
    text-align: center;
    margin-top: 20px;
}

/******************** Modal  *****************/

.modal {
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888888;
    height: 60%;
    width: 60%;
}

.modal-content > img {
    margin: auto;
    display: block;
    height: 100%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000000;
}

/******************** Loader  *****************/

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #f20791;
    font-size: 10px;
    margin: 40px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}